@charset "UTF-8";
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

#page {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header img {
  height: 40px;
  width: 200px;
  display: block;
}

.recherche {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(243, 242, 242);
}
.recherche .recherche__barre {
  background-color: rgb(230, 230, 230);
  width: 100%;
  height: 50px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 3px rgb(207, 207, 207);
}
.recherche .recherche__barre i {
  font-size: 17px;
}
.recherche .recherche__barre--localisation {
  margin-left: 20px;
}
.recherche__titre {
  text-align: center;
  margin: 40px 20px 10px 20px;
}
.recherche__phrase {
  margin: 0 20px 0 20px;
  text-align: center;
}
.recherche--bouton {
  width: 250px;
  height: 50px;
  border-radius: 50px 50px;
  background: linear-gradient(#FF79DA, #9356DC);
  margin: 20px 0 50px 0;
  padding: 15px 0 0 35px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 7px 7px 7px rgb(211, 211, 211);
  transition: all 0.6s ease-in-out;
}
.recherche--bouton:hover {
  box-shadow: 7px 7px 7px rgb(158, 158, 158);
  filter: brightness(1.1);
}

@media all and (min-width: 768px) {
  .recherche {
    width: 80%;
    border-radius: 20px;
    margin: auto;
    box-shadow: 0px 2px 2px rgb(196, 196, 196);
  }
}
.fonctionnement__titre {
  padding-left: 15px;
  padding-top: 30px;
}

@media all and (min-width: 768px) {
  .fonctionnement__boutons {
    display: flex;
  }
}
.bouton {
  display: flex;
  align-items: center;
  width: 94%;
  height: 70px;
  border-radius: 25px 25px;
  margin: 0 auto 20px auto;
  background-color: rgb(243, 243, 243);
  border: none;
  box-shadow: 7px 7px 7px rgb(223, 223, 223);
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.bouton:hover {
  background-color: #e3ceff;
}
.bouton:hover i {
  color: #9356DC;
}
.bouton i {
  padding-left: 30px;
  color: gray;
  font-size: 20px;
}
.bouton--numero {
  display: inline-block;
  background-color: #9356DC;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  padding: 3px 7px 3px 7px;
  position: relative;
  right: 10px;
}
.bouton__texte {
  padding-left: 30px;
  font-weight: bold;
  font-size: 17px;
}

@media all and (min-width: 768px) {
  .bouton {
    width: 31%;
  }
  .bouton--numero {
    right: 5px;
  }
  .bouton i {
    padding-left: 10px;
  }
}
.restaurants {
  background-color: rgb(243, 243, 243);
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 60px;
}
.restaurants__titre {
  margin-left: 4%;
}
.restaurants__cartes {
  width: 92%;
  margin: auto;
  background-color: rgb(243, 243, 243);
}
.restaurants__cartes__carte {
  background-color: white;
  border-radius: 15px 15px;
  margin-bottom: 20px;
  width: 100%;
  height: 230px;
  box-shadow: 0px 7px 7px rgb(223, 223, 223);
}

@media all and (min-width: 992px) {
  .restaurants__cartes {
    display: flex;
    flex-wrap: wrap;
  }
  .restaurants__cartes__carte {
    width: 49%;
    height: 400px;
    margin-right: 8px;
  }
}
.lien {
  text-decoration: none;
}
.lien__image {
  position: relative;
}
.lien__image__photo {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.lien__image--nouveau {
  position: absolute;
  display: block;
  padding: 7px 8px 7px 8px;
  background-color: #99E2D0;
  color: rgb(33, 124, 79);
  font-weight: bold;
  font-size: 14px;
  top: 20px;
  right: 20px;
}
.lien__description {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  color: black;
  margin-top: 20px;
}
.lien__description__plat {
  margin: 0;
  padding: 0;
}
.lien__description__quartier {
  margin: 0;
  padding: 0;
}
.lien__description i {
  align-self: flex-end;
  position: relative;
  font-size: 30px;
  bottom: 35px;
  right: 25px;
  transition: all 0.5s linear;
  cursor: pointer;
}
.lien__description i:hover {
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  background-image: linear-gradient(#FF79DA, #9356DC);
  font-weight: bold;
}

@media all and (min-width: 992px) {
  .lien__image__photo {
    height: 320px;
  }
}
.foot {
  background-color: rgb(56, 56, 56);
  color: white;
  padding-bottom: 10px;
}
.foot__titre {
  padding-left: 4%;
  padding-top: 20px;
  margin-top: 0;
  font-family: "Shrikhand", cursive;
  font-weight: lighter;
}
.foot__liste {
  list-style-type: none;
  padding-left: 4%;
}
.foot__liste--lien {
  padding-bottom: 5px;
}
.foot__liste a {
  text-decoration: none;
  color: white;
}
.foot__liste i {
  padding-right: 10px;
}

@media all and (min-width: 768px) {
  footer ul {
    display: flex;
    flex-direction: row;
  }
  footer ul li {
    margin-right: 40px;
  }
}
/* Page la palette du goût */
.header i {
  font-size: 25px;
  color: black;
  margin-right: 30px;
}

.image__photo {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

@media all and (min-width: 768px) {
  .image__photo {
    height: 375px;
  }
}
@media all and (min-width: 992px) {
  .image__photo {
    height: 500px;
  }
}
.selection {
  background-color: rgb(243, 243, 243);
  border-radius: 30px 30px 0 0;
  position: relative;
  margin-top: -30px;
}
.selection__resto {
  display: flex;
  align-items: center;
  margin-left: 4%;
}
.selection__resto__nom {
  font-family: "Shrikhand", cursive;
  margin-right: 40px;
  font-size: 30px;
}
.selection__resto i {
  font-size: 25px;
  transition: all 0.5s linear;
  cursor: pointer;
}
.selection__resto i:hover {
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  background-image: linear-gradient(#FF79DA, #9356DC);
  font-weight: bold;
}
.selection__plats {
  margin-bottom: 70px;
}

@media all and (min-width: 992px) {
  .selection {
    display: flex;
    flex-wrap: wrap;
  }
  .selection__resto {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .selection__plats {
    width: 50%;
  }
}
.titre {
  margin-left: 5%;
}

.titre::after {
  content: "";
  display: block;
  background-color: #99E2D0;
  height: 3px;
  width: 50px;
  margin-top: 7px;
}

.choix {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 25px 25px;
  box-shadow: 7px 7px 7px rgb(223, 223, 223);
  width: 92%;
  height: 87px;
  margin-bottom: 25px;
  margin-left: 4%;
  border-color: #99E2D0;
  opacity: 0;
  animation: apparition 1s ease-in-out forwards;
  overflow: hidden;
}
.choix__description {
  margin-left: 15px;
  margin-bottom: 10px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.choix__description__plat {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.choix__description__accompagnement {
  margin-top: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.choix__validation {
  display: flex;
  align-items: center;
  transform: translateX(90px);
}
.choix__validation__prix {
  font-weight: bold;
  margin-top: 45px;
  animation: translation 0.6s ease-in-out;
  margin-right: 30px;
}
.choix__validation--valider {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  color: white;
  width: 90px;
  height: 88px;
  font-size: 35px;
}

.choix:hover .choix__validation {
  animation: translation 0.6s ease-in-out forwards;
}

.choix:hover .choix__validation--valider i {
  animation: rotation 0.6s ease-in-out;
}

@keyframes translation {
  0% {
    transform: translateX(90px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
@keyframes apparition {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.n1 {
  animation-delay: 0.3s;
}

.n2 {
  animation-delay: 0.6s;
}

.n3 {
  animation-delay: 0.9s;
}

.btn {
  display: flex;
  justify-content: center;
}
.btn--commander {
  width: 250px;
  height: 50px;
  border-radius: 50px 50px;
  background: linear-gradient(#FF79DA, #9356DC);
  margin: 0 0 70px;
  padding: 3px 0 0 10px;
  font-size: 17px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 7px 7px 7px rgb(211, 211, 211);
  border: none;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}
.btn--commander:hover {
  box-shadow: 7px 7px 7px rgb(158, 158, 158);
  filter: brightness(1.1);
}

@media all and (min-width: 992px) {
  .btn {
    margin-left: 15%;
    margin-top: 180px;
  }
  .btn--commander {
    height: 80px;
  }
}

/*# sourceMappingURL=style.css.map */
